#root {
  position: relative;
}

.field {
  height: 50vh;
  width: 50vw;
}

.cham {
  width: 70px;
  height: 70px;
  background-color: black;
}

.testButton {
  background-color: aquamarine;
}

.blocksDiv {
  display: flex;
}

.blocks {
  color: #222;
  width: 100px;
  height: 50px;
  border: 1px solid #222;
  background-color: azure;
}

.colorBar {
  display: flex;
  margin: 20px auto;
  color: #222;
  height: 70px;
}

.colorBarBlocks {
  margin: 0;
  width: 100px;
  height: 100%;
  border: 1px solid #222;
  background-color: azure;
}

.svg {
  width: 400px;
  fill: #629677;
}

#iris {
  fill: #000;
}

.eye {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;

  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  /* Finish changes by here */
  10% {
    opacity: 1;
  }

  /* Between 20% and 100%, nothing changes */
  100% {
    opacity: 1;
  }
}
