#root {
  position: relative;
}

.field {
  height: 50vh;
  width: 50vw;
  position: relative;
}

.testButton {
  background-color: aquamarine;
}

.blocksDiv {
  display: flex;
}

.blocks {
  color: #222;
  width: 100px;
  height: 50px;
  border: 1px solid #222;
  background-color: azure;
}

.colorBar {
  display: flex;
  margin: 20px auto;
  color: #222;
  height: 70px;
}

.colorBarBlocks {
  margin: 0;
  width: 100px;
  height: 100%;
  border: 1px solid #222;
  background-color: azure;
}

.svg {
  width: 450px;
  height: auto;
  fill: #629677;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#iris {
  fill: #000;
}

.eye {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;

  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.speechBubble {
  width: 200px;
  border-radius: 50%;
  border: 4px solid #222;
  padding: 40px;
  text-align: center;
  font-weight: 600;
  color: #222;
  font-family: arial;
  position: absolute;
  top: 20px;
  left: 15%;
  background-color: #fff;
}

.speechBubble:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #222;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -23px;
}

.speechBubble:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -18px;
}
